<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookWorld</title>
    <!-- link the stylesheet in css to this page -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


<!--this is the top section of the page  -->
<div class="images-row">
<div class="navbar">

    <ul>
        <li><a href="#ShoppingCart">Shopping Cart</a></li>
        <li><a href="#adminPage">Admin Page</a></li>
        <li><a href="#login">Login register</a></li>


    </ul>
</div>
     <!--the first row of books for  the homepage -->
    <section class="flex-Section1">

    </section>
<!-- the second row of books for the homepage -->
     <section class="fex-Section2">


     </section>
</div>


</body>
</html>