<!DOCTYPE html>
<!-- Example in index.html -->
<a href="/ShoppingCart.html">Shopping Cart</a>
<a href="/login.html">Login</a>
<a href="/register.html">Register</a>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookWorld</title>
    <!-- link the stylesheet in css to this page -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


<!--this is the top section of the page  -->
<div class="images-row">
<div class="navbar">
    <ul>
        <li><a href="/shoppingCart">Shopping Cart</a></li>
        <li><a href="/adminPage">Admin Page</a></li>
        <li><a href="/login">Login/register</a></li>
    </ul>
</div>
     <!--the first row of books for  the homepage -->
    <section class="flex-Section1">
   <img src="utopia.png" alt="Book1">
        <div class="item-titles">Utopia</div>
        <div class="item-prices">$95.99</div>

        <img src="womenRuleWorldBoook.png" alt="Book2">
        <div class="item-titles"> When women rules the world</div>
        <div class="item-prices">$20.99</div>

        <img src="lightningThiefBook.png" alt="Book3">
        <div class="item-titles"> The lightning thief</div>
        <div class="item-prices">$15.99</div>

        <img src="mazeRunnerBook.png" alt="Book4">
        <div class="item-titles"> The maze runner</div>
        <div class="item-prices">$14.99</div>
    </section>
<!-- the second row of books for the homepage -->
     <section class="flex-Section2">
         <img src="frederickDouglasBook.png" alt="Book5">
         <div class="item-titles">Narrative of the life of Frederick Douglas </div>
         <div class="item-prices">$10.99</div>

         <img src="feministListBook.png" alt="Book6">
         <div class="item-titles">Encyclopedia of feminist literature</div>
         <div class="item-prices">$7.99</div>

         <img src="theGreatGatzyBook.png" alt="Book7">
         <div class="item-titles"> The great gatzy</div>
         <div class="item-prices">$5.99</div>

         <img src="softwareBook.png" alt="Book8">
         <div class="item-titles"> Software Engineering</div>
         <div class="item-prices">$2.99</div>

     </section>
</div>


</body>
</html>
